.matchcenter {
    padding: 1rem;
    background-color: #c7e8db;
    margin: 1rem auto;
    width: 32rem;
    max-width: 70%;
    border-radius: 1px;
    overflow: scroll;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    @media screen and (max-width: 88px) {
      display: none;
    }
  }

  .matchcenterLive {
    padding: 1rem;
    background-color: #c7e8db;
    margin: 1rem auto;
    width: 68rem;
    max-width: 75%;
    border-radius: 1px;
    overflow: scroll;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    @media screen and (max-width: 88px) {
      display: none;
    }
  }

  .matchcenterPoints {
    padding: 1rem;
    background-color: #c7e8db;
    margin: 8rem auto;
    width: 30rem;
    max-width: 75%;
    border-radius: 12px;
    overflow: scroll;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    @media screen and (max-width: 768px) {
      display: none;
    }
  }