.floattable {
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    background-color: rgb(208, 242, 211);
    float:right;
    position: relative;
    visibility:show;
    z-index: 100;
  }

  .button-contianer {
    display: flex;
    justify-content: space-between;
  }
  
  .img-container {
    display: flex;
    overflow: hidden;
    width: 900px;
    max-height:500px;
    border: 5px solid #ffffff;
    border-radius: 1px;
  }
  
  .rcorners2 {
    display: block;
    border-radius: 2px;
    border: 2px solid #73AD21;
    padding: 8px;
    width: 200px;
    height: 90px;
    background-color: #73AD21;
    font-size: 13px;
    margin: 12px;
    
  }
  
  .rcorners2:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
  }

/*  .rcorners3 {
    border-radius: 25px;
    background: url(paper.gif);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 200px;
    height: 150px;
  }
  */