.floattable {
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    background-color: rgb(208, 242, 211);
    float:right;
    position: relative;
    visibility:show;
    z-index: 100;
  }

  .tbl{
    border: 10px; 
    border-color: black;
  }

  table,  td {
    border: 0px solid black;
    border-collapse: collapse;
  }
  .abtr {
    border: 1px solid black;
    border-collapse: collapse;
  }

  th {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: rgb(102, 185, 107);
  }

  .button-contianer {
    display: flex;
    justify-content: space-between;
  }
  
  .img-container {
    display: flex;
    overflow: hidden;
    width: 968px;
    height:60px;
    border: 5px solid #ffffff;
    border-radius: 1px;
  }
  